    body {
        background: black;
        color: whitesmoke;
        font-family: cursive;
        align-items: center;
        justify-content: center;
        padding: 0px;
    
        display: list-item;
        }

    div.foo{
        text-align: center;
        }

   div.info{
        text-align: center;
        font-family: fantasy;
      
         }
          
        
         
    ul.myUL {
        display: inline-block;
        text-align: left;
            }

    div.ac{
        
        margin: 0 auto;
        width: 75%;
        padding: 10px;

    }
    .butte{
        
        margin: 20px 40%;
        width: 20%;
        /*text-align: center;*/
    }

    .button {
        background-color: #2849b8;
        border: none;
        color: white;
        
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0 auto;
        cursor: pointer;
      }

    .image1{
        height: 300px;
        border-radius: 50%;
        border: 12px dotted rgb(77, 87, 87);
            }

    .aC{
        height: 80px;
            }


    .air{
            height: 100px;
            position: relative;
            animation-name: example;
            animation-duration: 2s;
            animation-iteration-count: infinite; 
        }

        @keyframes example {
            0%   {background-color:red; left:0px}
            25%  {background-color:yellow; left:150px}
            
          }


